In [2]:
%matplotlib inline

import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

## 用range快速生成list

In [3]:
list(range(1, 11,))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## for迴圈

In [7]:
for i in range(1,6):
    print (i)

1
2
3
4
5

In [10]:
s = 0
for i in range(1, 101):
    s = s + i
print(s)

5050

## list append

In [11]:
prices = [1024, 399, 20000]

In [12]:
c = 34.1415677

In [17]:
L = []

In [18]:
for p in prices:
    eu = p*c
    L.append(eu)

In [19]:
L

[34960.9653248, 13622.485512300002, 682831.354]

## 字串分割

In [20]:
spam = input("輸入你要買東西的價格：")

輸入你要買東西的價格：1024, 399, 20000, 600

In [22]:
data = spam.split(",")

In [23]:
data

['1024', ' 399', ' 20000', ' 600']

In [24]:
for p in data:
    p = float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [25]:
ask_price = input("請輸入要換算的歐元價格： ")

請輸入要換算的歐元價格： 100, 356, 678

In [26]:
eu_list = ask_price.split(",")

In [50]:
tw_list = []

In [51]:
for i in eu_list:
    tw_price =int(float(i)*c)
    tw_list.append(tw_price)
for i in tw_list:
    print("價格 {} 台幣".format(i))

價格 3414 台幣
價格 12154 台幣
價格 23147 台幣

In [52]:
def exchange(p):
    p = float(p)
    return p*c

In [53]:
exchange("399")

13622.485512300002

### map

map(f, L)
把f這個函數作用到L list中的每一個元素上

＊不使用for迴圈，將函數套上list中的每個元素上

In [54]:
L="333, 1024, 488, 2000".split(",")

In [55]:
list(map(exchange, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 68283.1354]

### 緊急用的函數 Iambda

In [56]:
def f(x):
    return x**2

In [57]:
f(2)

4

In [58]:
g = lambda x:x**2

In [59]:
g(3)

9

In [60]:
L

['333', ' 1024', ' 488', ' 2000']

In [63]:
list(map(lambda p:float(p)*c, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 68283.1354]

In [64]:
egg = [11, 23, 45, 26]

In [68]:
y = lambda x: (x*2)+1

In [74]:
y(2)

5

In [77]:
a = list(map(lambda x: (x*2)+1, egg))

In [78]:
a

[23, 47, 91, 53]

In [79]:
grades = [47, 56, 60, 75]

In [80]:
list(map(lambda g:np.sqrt(g)*10, grades))

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

## list comprehension

In [81]:
L

['333', ' 1024', ' 488', ' 2000']

In [82]:
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 16661.0850376, 68283.1354]

## 合併 list

In [83]:
L

['333', ' 1024', ' 488', ' 2000']

In [86]:
s = ""

for i in L:
    s = s+i+","

In [87]:
s

'333, 1024, 488, 2000,'

In [89]:
s = s.rstrip(",")

In [94]:
s[:-1]

'333, 1024, 488, 200'

In [95]:
L

['333', ' 1024', ' 488', ' 2000']

In [96]:
",".join(L)

'333, 1024, 488, 2000'

## 物件中的method

In [1]:
egg = [123, 34, 76, 89, 343]

In [2]:
egg.sort()

In [3]:
slang= "今天天氣很好"

In [4]:
 slang[3]

'氣'

In [5]:
slang[::-1]

'好很氣天天今'

In [6]:
from ipywidgets import interact

In [20]:
def move(n=1):
    print(" "*n +"(⁎˃ᆺ˂)"+" "*(40-n)+"(⁎^ᆺ^)")

In [21]:
move()

 (⁎˃ᆺ˂)                                       (⁎^ᆺ^)

In [22]:
interact(move,  n=(1, 40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…

In [1]:
A = [9, 4, 8, 7]
B = [5, 5, 6, 6]

In [2]:
A*B

TypeError: can't multiply sequence by non-int of type 'list'