In [11]:
%matplotlib inline

import numpy as np
import pandas as pd
from datetime import datetime

In [12]:
def expense_calculator():
    outer_list = []
    while True:
        now = datetime.now()
        date = now.strftime("%Y/%m/%d")
        item_list = [date]
        item = input("Please type in the item you bought: ")
        if item == "done":
            break
        dollar = input("Please type in the price of the item: ")
        item_list.append(item)
        item_list.append(int(dollar))
        outer_list.append(item_list)
    return outer_list

In [23]:
expense = expense_calculator()

Please type in the item you bought: apple
Please type in the price of the item: 30
Please type in the item you bought: done

In [24]:
expense_df = pd.DataFrame(expense, columns = ["Date","Item", "Price"])

### Next time to input item run the command below

In [25]:
expense1 = expense_calculator()

Please type in the item you bought: pen
Please type in the price of the item: 30
Please type in the item you bought: done

In [29]:
expense_df1 = pd.DataFrame(expense1, columns = ["Date","Item", "Price"])

In [30]:
spend = pd.concat([expense_df, expense_df1], axis =0, ignore_index = True )

In [31]:
spend

         Date   Item  Price
0  2019/12/02  apple     30
1  2019/12/02    pen     30

In [32]:
num_item= spend["Item"].count()

In [35]:
price_item = spend["Price"].sum()

In [37]:
report = pd.DataFrame({"Total Bought": num_item, "Total Spent": price_item}, index =["Spending Report"])

In [38]:
report

                 Total Bought  Total Spent
Spending Report             2           60