In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from datetime import datetime
import csv

In [2]:
def food_calculator():
    outer_list = []
    while True:
        now = datetime.now()
        date = now.strftime("%Y/%m/%d")
        bf_list = [date]
        food = input("Please type in the food you ate: ")
        if food == "done":
            break
        calories = input("Please type in the calories of the food: ")
        time = now.strftime("%H:%M")
        bf_list.append(food)
        bf_list.append(int(calories))
        bf_list.append(time)
        outer_list.append(bf_list)
    return outer_list

In [3]:
breakfast = food_calculator()

Please type in the food you ate: cake
Please type in the calories of the food: 150
Please type in the food you ate: cookie
Please type in the calories of the food: 50
Please type in the food you ate: done

In [4]:
bf_df = pd.DataFrame(breakfast, columns = ["Date","Food Name", "Calories", "Time"])

In [5]:
lunch = food_calculator()

Please type in the food you ate: done

In [6]:
lunch_df = pd.DataFrame(lunch, columns = ["Date","Food Name", "Calories", "Time"])

In [7]:
dinner = food_calculator()

Please type in the food you ate: done

In [8]:
dinner_df = pd.DataFrame(dinner, columns = ["Date","Food Name", "Calories", "Time"])

In [9]:
day = pd.concat([bf_df, lunch_df, dinner_df], axis =0, ignore_index = True )

In [10]:
day

         Date Food Name Calories   Time
0  2019/12/15      cake      150  13:06
1  2019/12/15    cookie       50  13:06

In [11]:
num_food= day["Food Name"].count()

In [12]:
calories_food = day["Calories"].sum()

In [13]:
now = datetime.now()
date = now.strftime("%Y/%m/%d")

In [14]:
food_report = pd.DataFrame({"Date":date, "Total Number Of Food": num_food, 
                            "Total Calories Of Food": calories_food}, index =["Daily Report"])

In [15]:
food_report

                    Date  Total Number Of Food  Total Calories Of Food
Daily Report  2019/12/15                     2                     200