In [6]:
%matplotlib inline

import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### 使用map

In [1]:
items = [500, 30, 200]
c = 30.8594

In [2]:
egg = []
for item in items:
    p = item*c
    egg.append(p)

In [3]:
egg

[15429.7, 925.782, 6171.88]

In [4]:
def exchange(i):
    return i*c

In [5]:
exchange(100)

3085.94

In [8]:
new = list(map(exchange, items))

In [9]:
new

[15429.7, 925.782, 6171.88]

### 使用lambda(救急用函數)

In [11]:
list(map(lambda p:p*c, items))

[15429.7, 925.782, 6171.88]

### list comprehension

In [12]:
[p*c for p in items]

[15429.7, 925.782, 6171.88]

### filter

### 統一發票兌獎系統

In [14]:
grades = [58, 50, 34, 65, 98, 87, 47]

In [15]:
def pass_grade(i):
    return i>60

In [20]:
pass_grade(15)

False

In [18]:
list(filter(pass_grade, grades))

[65, 98, 87]

### lambda version

In [23]:
score_list = list(filter(lambda g:g>60, grades))

In [24]:
score_list

[65, 98, 87]

## print的使用

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [28]:
for i in range(10):
    print(i, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [30]:
print("price: "+str(p))

price: 6171.88

In [31]:
mylist = ["A","B","C","D"]

In [32]:
"*".join(mylist) #make list into string

'A*B*C*D'

In [34]:
s = ",".join(mylist)
print(s)

A,B,C,D

In [54]:
a = range(10)
emp = []
for i in range(10):
    emp.append(str(i))
new= list(map(lambda i:" ".join(i), emp))
nn = ", ".join(new)
print(nn)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9

In [50]:
list(range(10))pri

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]